$breakpoint-large: 1600px;
$breakpoint-medium: 1000px;
$breakpoint-small: 800px;

$breakpoints: (
    large: $breakpoint-large,
    medium: $breakpoint-medium,
    small: $breakpoint-small,
) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Invalid breakpoint: `#{$breakpoint}`"
    }
}
