@import "../styles/variables";
@import "../styles/mixins";

$navbar-height: 5rem;

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    
    display: flex;
    
    height: $navbar-height;
    background-color: rgba(0, 0, 0, 0);
    
    justify-content: space-between;
    padding: 0 1.5rem;
    
    transition: all .25s ease-in-out;
    transition-property: background-color, color, box-shadow;

    .logo {
        display: flex;
        align-items: center;
        opacity: 0;
        
        color: #111;
        
        transition: all .25s ease-in-out;
        transition-property: opacity margin;
        
        h1 {
            display: block;
            font-size: 3rem;
            font-weight: bold;
            font-family: 'Amatic SC', cursive;
            margin-left: .8rem;
            
            span {
                color: $accent;
            }
        }
    }
    
    .links {
        height: 100%;
        display: none;
        font-size: 1.1rem;
        
        align-items: center;
        display: flex;
        white-space: nowrap;
        
        @include respond-to(medium) {
            display: none;
            position: fixed;
            top: 5rem;
            right: 0;
            padding: 0 4rem;
            background-color: #FFF;
            height: auto;
            border-radius: 6px;
            border-top-right-radius: 0;
            font-size: 1.7rem;
            border: 1px solid #CCC;

            .link {
                margin: 2rem 0;
                color: #111;
            }

            &.toggled {
                display: block;
            }
        }
    }

    .toggle {
        display: none;
        position: fixed;

        @include respond-to(medium) {
            display: flex;
            top: 0;
            right: 0;
            height: 5rem;
            width: 5rem;
            cursor: pointer;
            color: #fff;
            justify-content: center;
            align-content: center;
        }
    }
    
    .link {
        color: #FFF;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 1.5rem;
        height: $navbar-height;
        line-height: $navbar-height;
        
        &::after {
            bottom: 1em;

            @include respond-to(medium) {
                bottom: 0;
            }
        }
    }
    
    &.active {
        background-color: #FFF;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .18);
        
        .logo {
            opacity: 1;
            margin-top: -.4rem;
        }
        
        .link {
            color: #111;
        }
        
        .dropdown-trigger > a {
            color: #111;
        }

        .toggle {
            color: #111;
        }
    }
}

.navbar-body-padding {
    padding-top: $navbar-height;
}
